.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
node_modules/
dist/
build/
.git/
.vscode/
.idea/
adapter_mysql_data/
adapter_qdrant_data/
logs/
*.log
.coverage
myenv/
ecommerce/frontend/.venv/
ecommerce/frontend/node_modules/
ecommerce/frontend/.next/
frontend/.npm/
node_modules/
results/
chatbot/data/raw/
chatbot/data/processed/