ecommerce/chatbot/data/raw/fashion-dataset
ecommerce/chatbot/data/processed
.venv

.env
!.env.development
!.env.production
ecommerce/chatbot/chatbot_eval/benchmark/FunctionChat-Bench/output/
ecommerce/chatbot/chatbot_eval/benchmark/KOLD/result.md
.agent
__pycache__/
*.pyc
*.pyo
*.pyd
.next
node_modules
.DS_Store
npm-debug.log*
.vercel
ecommerce\platform\frontend\public\products
logs/
results/

# Ignore chatbot uploaded images
ecommerce/platform/backend/app/static/chatbot_uploads/