.main {
  padding: 32px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.productCard {
  border: 1px solid #eee;
  padding: 8px;
}

.productImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #f2f2f2;
  margin-bottom: 8px;
}

/* ===== 페이지네이션 ===== */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

.pageButton {
  padding: 6px 12px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.activePage {
  padding: 6px 12px;
  background: black;
  color: white;
  border: 1px solid black;
}

.tabWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  overflow-x: auto;
  white-space: nowrap;

  padding: 12px 0;
  margin-bottom: 24px;

  border-bottom: 1px solid #eaeaea;
}

.tabWrapper::-webkit-scrollbar {
  display: none;
}

.tab {
  background: none;
  border: none;
  padding: 6px 2px;

  font-size: 14px;
  color: #777;
  cursor: pointer;

  white-space: nowrap;
}

.activeTab {
  background: none;
  border: none;
  padding: 6px 2px;

  font-size: 14px;
  font-weight: 600;
  color: #000;

  border-bottom: 2px solid #000;
}
