.widgetRoot {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.widgetMessageList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.widgetTextMessage {
  margin: 0;
}

.widgetOrderList,
.widgetProductList {
  width: 100%;
}
